body {
  font-family: Georgia, serif;
  font-size: calc(0.5vw + 1vh);
  color: #301814;
}

#contentWrap {
  min-height: 100%;
  position: relative;
  padding-top: 1vw;
}

#bg {
  position: absolute;
}

.emptyDiv {
  padding: 20px;
}

#mainContent {
  background-color: white;
  border: 2px solid #0080FF;
}

.imgWrapper {
  max-width: calc(17.5vmax + 10vh);
  height: calc(17.5vmax + 10vh);
  overflow: hidden;
  border-radius: calc(25vh - 12vw);
  border: 2px solid #C05C3C;
}

.imgWrapper img {
  max-width: calc(40vmax + 10vh);
  margin-left: calc(-17.5vmax + 5vw);
  margin-top: -9.5vmax;
}

#myName {
  text-align: center;
}

p {
  font-size: calc(0.25vw + 2vh);
  margin-top: 0;
}

a {
  color: #C05C3C;
}

a:visited {
  color: #402430;
}

.md-button.md-fab,
.md-button.md-fab:not([disabled]):visited {
  background-color: #C8A060;
}

.md-button.md-fab md-icon,
.md-button.md-fab:visited md-icon {
  color: #402430;
}

.md-button.md-fab:not([disabled]):hover,
.md-button.md-fab:not([disabled]):active,
.md-button.md-fab:not([disabled]):focus {
  background-color: #681010;
}

.md-button.md-fab:hover md-icon,
.md-button.md-fab:active md-icon,
.md-button.md-fab:focus md-icon {
  color: #C8A060;
}
